News Agent.json
{
  "name": "News Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-848, -128],
      "id": "2b26353c-90f7-4b15-9717-a61ad3309218",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\"topic\": \"technology\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-624, -128],
      "id": "48560c53-50a4-4aa6-94c3-36236e4327d3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "=https://newsapi.org/v2/everything",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ JSON.stringify($json.topic) }}"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "sortBy",
              "value": "publishedAt"
            },
            {
              "name": "pageSize",
              "value": "5"
            },
            {
              "name": "apiKey",
              "value": "Your Api Key"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{}]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-400, -128],
      "id": "9f36a962-0c5b-4e7b-8844-9c5c1f9d5188",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Access articles array from the first item\nconst articles = $input.item.json.articles;  \n\nlet message = \"📰 *Latest News*\\n\\n\";\n\n// Take only first 3 articles\narticles.slice(0, 3).forEach((article, index) => {\n  message += `${index + 1}. *${article.title}*\\n`;\n  message += `${article.description}\\n`;\n  message += `🔗 ${article.url}\\n\\n`;\n});\n\nreturn [{ json: { formatted_message: message } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-176, -128],
      "id": "f7cb89f9-9951-47e0-9404-36cd137a8ab5",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "Your Chat Id",
        "text": "={{$json[\"formatted_message\"]}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [48, -128],
      "id": "775e0a79-a131-46fc-8b5a-f346f11c85d1",
      "name": "Send a text message",
      "webhookId": "cb0613f2-e010-4455-9985-9869c0bd01ae",
      "credentials": {
        "telegramApi": {
          "id": "QNXTnQIM1jkzkFvP",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a733f1c4-c472-4609-8301-a758bbaa92ad",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4e2bbe5fc99cef31b99b203160134c30bbf989e51476b6bdb4d1c99c30c55622"
  },
  "id": "DVR6jRR8bpPhrymN",
  "tags": []
}
